KEYCLOAK_DB_PASSWORD=replace-me
POSTGRES_DB_PASSWORD=replace-me

USERS_DB_PASSWORD=replace-me
APPOINTMENTS_DB_PASSWORD=replace-me
MEDICAL_RECORDS_DB_PASSWORD=replace-me
NOTIFICATIONS_DB_PASSWORD=replace-me
XRAYS_DB_PASSWORD=replace-me

KEYCLOAK_BACKEND_ADMIN_SECRET=replace-me